<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRgen</title>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <section class="section">
        <div class="container">
            {% for row in f|batch(6) %}
            <div class="columns">
                {% for column in row %}
                <div class="column">
                    <img src="http://localhost:5001/{{column}}">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
    <center>
        <button class="button is-primary" onclick="window.print()">Print this page</button>
        <a class="button is-warning" href="{{ url_for('qrgen') }}">Back</a>

    </center>
    <br>
    <br>
</body>

</html>